.main__header {
    background-color: var(--primary-dark-color);
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: baseline;
    align-items: center;
    color: var(--primary-light-color);
    padding: 10px;
    height: 12.5vh;
}