.filtros__busqueda {
    background-color: var(--secondary-light-color);
    color: var(--primary-light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50vw;
    margin: 0;
    padding: 0;
    gap: 5vh;
}

.filtros__busqueda fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    width: 45vw;
    gap: 3vh;
}

.filtros__texto {
    width: 40vw;
}

.filtros__busqueda input {
    width: 40vw;
}

.filtros__busqueda select {
    width: 40vw;
}