.filtros__busqueda {
    background-color: var(--secondary-light-color);
    color: var(--primary-light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50vw;
    margin: 0;
    padding: 0;
    gap: 3vh;
}

.filtros__busqueda fieldset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    width: 45vw;
    gap: 3vh;
}

.filtros__texto {
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

.filtros__busqueda select {
    width: 20vw;
}

.submit__button {
  display: inline-block;
  background-color: var(--brand-color-dark);
  border: none;
  color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
padding: 10px 15px;
font-size: 1em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  width: 100px;
}

.submit__button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.submit__button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }

  .submit__button:hover span {
    padding-right: 15px;
  }
  
  .submit__button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .bienvenida {
    width: 40vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bienvenida h2 {
    font-size: 2.25rem;
  }

  @media (max-width: 500px) {
    .bienvenida {
        width: 100%;
        min-height: 10vh;
        padding-top: 13vh;
        text-align: center;
    }

    .bienvenida p {
      display: none;
    }

    .bienvenida h2 {
      display: none;
    }

    .filtros__busqueda fieldset {
      width: 95%;
    }

    .filtros__busqueda {
      gap: 0;
    }

    .filtros__texto {
      width: 50%;
    }

    .filtros__busqueda select {
      width: 100%;
    }
  }