.info__usuario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: var(--secondary-light-color);
    border-radius: 20px;
    margin: 0vh 2vw;
    color: var(--primary-light-color);
    width: 30vw;
    min-height: 100%;
}

.info__usuario img {
    width: 10vw;
}

@media (max-width: 500px) {
    .info__usuario {
        width: 100%;
        margin: 0;
        padding: 20px;
        border-radius: 0px;
    }

    .info__usuario img {
        width: 30vw;
    }
  }