.info__usuario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: var(--secondary-light-color);
    border-radius: 20px;
    margin: 0vh 2vw;
    color: var(--primary-light-color);
    width: 30vw;
    min-height: 100%;
}

.info__usuario img {
    width: 10vw;
}