.libro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 130px;
    height: 300px;
    gap: 5px;
    font-size: 0.9rem;
    color: white;
}

.portada__libro {
    width: 100%;
    height: auto;
    position: relative;
}

.portada__libro img {
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 7 / 10;
    object-fit: cover;
    height: auto;
    cursor: grab;
}

.portada__libro .mensaje {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 7 / 10;
    border-style: dotted;
    border-width: 2px;
    border-color: rgb(155, 155, 155);
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;

}