label {
    font-size: 0.9rem;
}

.input__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(255, 255, 255);
}

.input__error {
    font-size: 0.9rem;
    color: rgb(252, 51, 51);
    text-align: center;
}