.searchbar {
    width: 90%;
    height: 7vh;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.searchbar__input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.searchbar__icon {
    color: var(--brand-color-dark);
    position: absolute;
    right: 2vw;
    top: 2vh;
    height: 40%;
    width: auto;
    padding: 1vh 1vw;
    padding: 0;
}

@media (max-width:500px) {
    .searchbar__icon {
        right: 6vw;
    }
}