:root {
    --primary-dark-color: rgb(0, 0, 0);
    --secondary-dark-color: #060606;
    --brand-color: #9B1A0F;
    --brand-color-dark: #601005;
    --primary-light-color: white;
    --secondary-light-color: #1F1F1F;
}

* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

.basic__form {
    display: flex;
    flex-direction: column;
    background-color:#222;
    color: var(--primary-light-color);
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin: 2vh 20vw;
    min-height: 50vh;
}

.basic__form .input__field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.basic__form label {
    width: 100%;
    text-align: left;
}

.basic__form input[type="text"], input[type="password"], input[type="date"], textarea {
    width: 100%;
}

.section__header {
    text-align: center;
    color: white;
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__main {
    height: 80vh;
    background-color: var(--secondary-dark-color);
}

/* unvisited link */
a:link {
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(197, 197, 197);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(175, 40, 22);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }